.guessBox
    %h2
        =I18n.t('vote.title')

    .imageWrapper
        .loading
            = image_tag "loader.gif"
        =image_tag "https://graph.facebook.com/#{@vote.subject.external_id}/picture?width=200&height=300", { :class => "profileImage" }

    = form_for @vote do |f|
        %ul.chooseList
            = f.collection_radio_buttons :answers, @vote.answers, :id, :title do |item|
                %li
                    = item.radio_button
                    = item.label
        = f.hidden_field :subject_id, value: @vote.subject_id

%script{:type => "text/javascript"}
    slideImageIn();