<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Studymatch</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
  	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="cleartype" content="on">
</head>
<body>

	<!--
        HEADER
    -->
    <ul class="header">
        <li class="logo">
            <div class="logoWrapper">
                <h1>study<span class="secondColor">Match</span></h1>
                <span class="subtitle">Klischee ole oder doch nicht?</span>
            </div>
        </li>
        <li class="score">
            <div class="scoreWrapper">
            	<a href="#" class="loginLink"></a>
        	
        	<!--
                <span class="scoreTitle">score</span>
                <span class="scoreValue">301</span>
                -->
            </div>
        </li>
        <li class="menu">
            
            <div class="menuWrapper">

                <!-- Nav button - only mobile -->
                <button class="menuIcon" type="button">
                    <div class="menuIconWrapper">
                        <div class="rect" style="top:5px;"></div>
                        <div class="rect" style="top:12px;"></div>
                        <div class="rect" style="top:19px;"></div>
                    </div>
                </button>

                <ul class="nav">
                	<li><%= link_to I18n.t("vote.nav_title"), new_vote_path %></li>
                    <li><%= link_to I18n.t("about.nav_title"), about_path %></li>
                    <li><%= link_to I18n.t("faq.nav_title"), faq_path %></li>
                </ul>
            </div>
        </li>
    </ul>

    <!--
        CONTENT
    -->
    <div class="container">
        <div data-no-turbolink>
            <% if current_user %>
                <%= link_to "Logout", :logout %>
            <% else %>
            <%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook) %>
            <% end %>
        </div>   
    	<div class="content">
			<%= yield %>
		</div>
	</div>

</body>
</html>
