<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Studymatch</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
  	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="cleartype" content="on">
</head>
<body>

	<!--
        HEADER
    -->
    <div class="header">

        <div data-no-turbolink>

            <% if current_user %>
                <%= link_to :logout, {:class => 'userIcon navIcon' } do %>
                    <i class="icon-user icon-1x"></i>
                <% end %>
            <% else %>
                <%= link_to auth_at_provider_path(:provider => :facebook), {:class => 'userIcon navIcon' } do %>
                    <i class="icon-unlock icon-1x"></i>
                <% end %>
            <% end %>

        </div>

        <%= link_to root_path do %>
            <h1>study<span class="secondColor">Match</span></h1>
        <% end %>


        <button class="menuIcon navIcon" type="button">
            <i class="icon-reorder icon-1x"></i>
        </button>

        <ul class="nav">
            <li><%= link_to I18n.t("vote.nav_title"), new_vote_path %></li>
            <li><%= link_to I18n.t("about.nav_title"), about_path %></li>
            <li><%= link_to I18n.t("faq.nav_title"), faq_path %></li>
            <% if current_user %>
                <li class="logoutLi">
                <%= link_to 'Logout', :logout %>
                </li>
            <% end %>
        </ul>

    </div>

    <!--
        CONTENT
    -->
    <div class="container">        
    	<div class="content">
            <div class="flashMessage">
                <% flash.each do |name, msg| -%>
                  <%= content_tag :div, msg, class: name %>
                <% end -%>
            </div>
            <%= yield %>
        </div>
    </div>

</body>
</html>
